body {
  background: url(./image/minions.jpg) center center/cover;
}

#txt_input {
  display: block;
  margin: 2rem;
  width: 80%;
  height: 10vh;
  padding: 2rem;
}

#output {
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 2rem;
  padding: 2rem;
}

#output {
  background-color: white;
}

.title {
  color: #c2410c;
}
